body {
    background-color: grey !important;
}

label {
    color: whitesmoke;
}
input {
    background-color: darkgray !important;
}

form {
    margin-left: 8px;
}

.msg {
    display: block;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.msg.error {
    color: crimson;
}

.msg.success {
    color: green;
}

input {
    outline: none;
}

input.error-border {
    border: 2px solid crimson;
}

input.success-border {
    border: 2px solid green;
}
